body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(81, 81, 230);
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



h1, h2, h3 {
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    margin: 20px 0;
    color: #ffab00;
    
    font-size: 3rem;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

th, td {
    border: 2px solid #444;
    padding: 15px;
    text-align: left;
    color: #f5f5f5;
    transition: background-color 0.3s ease;
}
ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

ul li {
    font-size: 1.2rem;
    margin: 10px 0;
    transition: color 0.3s ease;
}

ul li:hover {
    color: #ffab00;
}

p {
    text-align: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
    font-size: 1.1rem;
    color: #f5f5f5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

p:hover {
    background-color: #444;
    color: #ffab00;
}